@import url('https://fonts.googleapis.com/css?family=Quicksand:500');

$yellow: #F2C94C;
$green: #8BC34A;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 15px;
  * {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
  }
}

.background {
  position: fixed;
  top:-50px;
  left:-50px;
  right:-50px;
  bottom: -50px;
  background-size: cover;
  background-position: center;
  background-color: #673AB7;
  background-image: url("https://images.pexels.com/photos/1027393/pexels-photo-1027393.jpeg?auto=compress&cs=tinysrgb&h=650&w=940 1x, https://images.pexels.com/photos/1027393/pexels-photo-1027393.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 2x");
  filter: blur(10px);
  z-index: -1;
}

a {
  text-decoration: none;
}

#app {
  position: relative;
  top: 80px;
  padding: 15px;
  width: 100%;
  max-width: 600px;
  margin: auto;
  .input--create {
    color: white;
    width: 100%;
    height: 60px;
    background: transparentize(white, 0.8);
    font-size: 20px;
    padding: 0 20px;
    border: none;
    border-radius: 3px;
    outline: none;
    margin-bottom: 10px;
  }
  input::placeholder {
    color: white;
  }
}

.container {
  position: relative;
/*   width: 600px; */
  padding: 15px;
  padding-bottom: 5px;
  border-radius: 3px;
  margin-bottom: 100px;
}

.todoList {
  margin: 0;
  padding: 0;
  li {
    position: relative;
    background-color: transparentize(white, 0.8);
    list-style: none;
/*     height: 60px; */
    line-height: 20px;
    margin-bottom: 8px;
    padding: 20px 20px;
    border-radius: 3px;
    color: #fff;
    user-select: none;
    &:hover .modify {
      display: block;
    }
  }
}

.filter {
  position: relative;
  a {
    font-size: 13px;
    background: transparentize(white, 0.6);
    color: white;
    padding: 6px 10px;
    display: inline-block;
    border-radius: 2px;
    margin-bottom: 10px;
  }
  .right {
    float: right;
    @media only screen and (max-width: 480px) {
      float: none;
    }
    span {
      color: white;
      padding-left: 10px;
    }
  }
}

.modify {
  float: right;
  // margin-top: -10px;
  line-height: 20px;
  display: none;
}

.edit--input {
  position: absolute;
  left: 0;
  height: 100%;
  top: 0;
  width: 100%;
  padding: 0 20px;
  font-size: 16px;
  border: none;
  background: white;
  border: 1px solid darken($green, 13%);
  border-radius: 3px;
  outline: none;
}

.filter--input {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  font-size: 18px;
  color: white;
  padding: 0 20px;
  background: transparentize(white, 0.8);
  border: none;
  border-radius: 3px;
  outline: none;
}

.completed--icon, .edit--icon, .remove--icon {
  line-height: 20px;
  vertical-align: top;
  font-size: 20px;
  padding-right: 5px;
}

.selected {
  background: transparentize(white, 0.8) !important;
}

.completed {
  background-color: transparentize($green, 0.2) !important;
  color: white !important;
  &.edit--input {
    background-color: $green !important; 
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}