$yellow: #F2C94C;
$green: #8BC34A;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  * {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
  }
}

#app {
  position: relative;
  top: 80px;
  padding: 15px;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.background {
  position: fixed;
  top:-50px;
  left:-50px;
  right:-50px;
  bottom: -50px;
  background-size: cover;
  background-position: center;
  background-color: #673AB7;
  background-image: url("./assets/pexels-photo-1027393.jpeg");
  filter: blur(10px);
  z-index: -1;
}

input {
  color: white;
  width: 100%;
  height: 60px;
  background: transparentize(white, 0.8);
  font-size: 20px;
  padding: 0 20px;
  border: none;
  border-radius: 3px;
  outline: none;
  margin-bottom: 10px;
}
input::placeholder {
  color: transparentize(white, 0.3);
}

.container {
  position: relative;
/*   width: 600px; */
  padding: 15px;
  padding-bottom: 5px;
  border-radius: 3px;
  margin-bottom: 100px;
  @media only screen and (max-width: 480px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.todoList {
  margin: 0;
  padding: 0;
  li {
    position: relative;
    background-color: transparentize(white, 0.8);
    list-style: none;
    font-size: 0.97rem;
    line-height: 20px;
    margin-bottom: 8px;
    padding: 20px;
    padding-right: 50px;
    border-radius: 3px;
    color: white;
    user-select: none;
    &:hover .list--options {
      display: block;
    }
  }
}

.list--options {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -10px;
  display: none;
}

.filter {
  a {
    font-size: 13px;
    background: transparentize(white, 0.6);
    color: white;
    padding: 6px 10px;
    display: inline-block;
    border-radius: 2px;
    margin-bottom: 10px;
    text-decoration: none;
  }
  .right {
    float: right;
    @media only screen and (max-width: 480px) {
      float: none;
    }
    span {
      color: white;
      padding-left: 10px;
    }
  }
}

.filter--input {
  height: 50px;
  font-size: 1rem;
}

.edit--input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 0.95rem;
  background: white;
  color: black;
}

.completed--icon, .edit--icon, .remove--icon {
  line-height: 20px;
  vertical-align: top;
  font-size: 20px;
  padding-left: 5px;
}

.selected {
  background: transparentize(white, 0.8) !important;
}

.completed {
  background-color: transparentize($green, 0.2) !important;
  color: white !important;
  &.edit--input {
    background-color: darken($green, 10%) !important; 
  }
}

/**
 * VueJs transition
 */
.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}